@page "/quanlybaiviet"

<h3>PostServices</h3>

<style>
    .mud-table-cell-custom-group {
        font-weight: 500;
    }

    .mud-table-cell-custom-group-footer {
        padding-bottom: 50px;
        text-align: right;
    }
</style>

<MudTable Hover="true" Breakpoint="Breakpoint.Sm" Height="500px" FixedHeader="true"
          Items="@_posts"
          GroupBy="_groupDefinition"
          GroupHeaderStyle="background-color:var(--mud-palette-background-grey)"
          GroupFooterClass="mb-4"
          Dense="true"
@ref="_tableRef">
    <ColGroup>
        <col style="width: 60px;" />
        <col />
        <col />
        <col />
        <col />
        <col />
    </ColGroup>
    <HeaderContent>
        <MudTh>STT</MudTh>
        <MudTh>tiêu đề</MudTh>
        <MudTh>gán thẻ</MudTh>
        <MudTh>Thể loại</MudTh>
        <MudTh>Tác vụ</MudTh>
    </HeaderContent>
    <GroupHeaderTemplate> 
        <MudTh Class="mud-table-cell-custom-group" colspan="5">@($"{context.GroupName}: {context.Key}") </MudTh>
    </GroupHeaderTemplate>
    <RowTemplate>
        <MudTd DataLabel="STT">@context.STT</MudTd>
        <MudTd DataLabel="Title">@context.Title</MudTd>
        @foreach (var x in context.tagDtos)
        {
                <em>@x.Name,  </em>
        }
        <MudTd DataLabel="Type">@context.Type</MudTd>
    </RowTemplate>
</MudTable>

