@using System.Security.Claims;
@using FPLSP_Tutorial.WASM.Pages;
@inherits LayoutComponentBase

@inject AuthenticationStateProvider _authProvider;
@inject NavigationManager _nav

<MudThemeProvider Theme="@_CustomTheme"/>
<MudDialogProvider FullWidth="true" NoHeader="true" />
<MudSnackbarProvider />

<style>
    .custom-layout-color {
        background-color: rgb(255, 255, 255);
    }
    :root {
        --mud-default-borderradius: 8px;
        --mud-palette-primary-text: #f2bb1f;
    }

    .mud-breadcrumb-item > a {
        font-weight: 500;
    }

    .custom-secondary-color {
        color: #f2bb1f;
    }
</style>

<MudLayout>
    <MudAppBar Elevation="0" Class="custom-layout-color" Style="border-bottom: 1px solid lightgrey;">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="ContentColor" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <div>
            <MudText Color="ContentColor" Typo="Typo.subtitle2">@(_displayName)</MudText>
            <MudText Color="ContentColor" Typo="Typo.caption">@(_displayEmail)</MudText>
        </div>
        <MudIconButton Icon="@Icons.Material.Filled.Logout" Color="ContentColor" Title="Đăng xuất" OnClick="@(async() => await OnLogout())" />
    </MudAppBar>
        <MudDrawer @bind-Open="@open" Variant="DrawerVariant.Mini" Elevation="0" Class="custom-layout-color">
        <MudDrawerHeader Class="top-row px-4 d-flex align-center" >
            @if(open)
            {
                <MudText Typo="Typo.h6">FPLSP Tutorial</MudText>
            }
        </MudDrawerHeader>
        
        <MudNavMenu>
            <MudNavLink IconColor="Color.Primary" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" Href="/post/home">Trang chủ</MudNavLink>
            <AuthorizeView Roles="ADMIN">
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.List" Href="/major/manage/list">Quản lý chuyên ngành</MudNavLink>
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.SupervisorAccount" Href="/user/manage/list">Quản lý người dùng</MudNavLink>
            </AuthorizeView>
            @*<AuthorizeView Roles="CNBM">
                <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Newspaper" Href="/major/joined">Quản lý bài viết</MudNavLink>
            </AuthorizeView>*@
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Archive" Href="/post/archive">Kho lưu trữ</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.EditNote" Href="/post/create">Tạo bài viết</MudNavLink>

            
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent >
        <div style="
                background-color: rgba(235, 235, 235, 0.5); 
                min-height: calc(100vh - var(--mud-appbar-height));
                border-top: 1px solid lightgrey; 
                border-left: 1px solid lightgrey;">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {
    bool open = false;

    private readonly MudTheme _CustomTheme = new()
        {
            Palette = new Palette
            {
                Primary = "#000000",
                
            }
        };


    private string _displayName = "";
    private string _displayEmail = "";

    private Color ContentColor = Color.Dark;

    protected override async Task OnInitializedAsync()
    {
        var state = await _authProvider.GetAuthenticationStateAsync();
        var lstClaim = state.User.Claims;
        var claimName = lstClaim.FirstOrDefault(c => c.Type == ClaimTypes.Name);
        _displayName = claimName == null ? "<N/A>" : claimName.Value.ToString();
        var claimEmail = lstClaim.FirstOrDefault(c => c.Type == ClaimTypes.Email);
        _displayEmail = claimEmail == null ? "<N/A>" : claimEmail.Value.ToString();
    }

    void ToggleDrawer()
    {
        open = !open;
    }

    private async Task OnLogout()
    {
        var customAuth = (CustomAuthenticationStateProvider)_authProvider;
        await customAuth.UpdateAuthenticationState(null);
        _nav.NavigateTo("https://localhost:5000");
    }
}