@using System.Security.Claims;
@inherits LayoutComponentBase

@inject AuthenticationStateProvider _stateProvider;
@inject NavigationManager _nav

<MudThemeProvider />
<MudDialogProvider FullWidth="true" />
<MudSnackbarProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudSpacer />
        <div>
            <MudText Typo="Typo.subtitle2">@(_displayName)</MudText>
            <MudText Typo="Typo.caption">@(_displayEmail)</MudText>
        </div>
        <MudIconButton Icon="@Icons.Material.Filled.Logout" Color="Color.Inherit" Title="Đăng xuất" />
    </MudAppBar>
    <MudDrawer @bind-Open="@open" Variant="DrawerVariant.Mini">
        @if(open)
        {
            <MudDrawerHeader Class="top-row px-4 d-flex align-center">
                <MudText Typo="Typo.h6">FPLSP Tutorial</MudText>
            </MudDrawerHeader>
        }
        
        <MudNavMenu>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home" Href="/recreation/post/client">Trang chủ</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.List" Href="/recreation/major">Quản lý chuyên ngành</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.SupervisorAccount" Href="/recreation/lecturer-manager">Quản lý giảng viên</MudNavLink>
            <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Newspaper" Href="/recreation/post-manager">Quản lý bài viết</MudNavLink>
        </MudNavMenu>
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

    @code {
    bool open = false;

    private string _displayName = "";
    private string _displayEmail = "";

    protected override async Task OnInitializedAsync()
    {
        var state = await _stateProvider.GetAuthenticationStateAsync();
        var lstClaim = state.User.Claims;
        var claimName = lstClaim.FirstOrDefault(c => c.Type == ClaimTypes.Name);
        _displayName = claimName == null ? "<N/A>" : claimName.Value.ToString();
        var claimEmail = lstClaim.FirstOrDefault(c => c.Type == ClaimTypes.Email);
        _displayEmail = claimEmail == null ? "<N/A>" : claimEmail.Value.ToString();
    }

    void ToggleDrawer()
    {
        open = !open;
    }
}