@page "/post/home"
@using FPLSP_Tutorial.WASM.Data.DataTransferObjects.Tag.TagRequest;
@using FPLSP_Tutorial.WASM.Data.DataTransferObjects.Tag;
@using FPLSP_Tutorial.WASM.Pages.Post.PostHomeComponent
@inject ITagRepository _repoTag

@layout ManagementLayout

<style>
    .hover-zoom:hover {
        transform: scale(1.01);
        transition: all 0.2s ease;
        cursor: pointer;
    }
</style>

@if(_isLoadingAll)
{
    <LoadingIndicator/>
}
else
{
    <div class="ma-5">
        <Animate Animation="Animations.FadeUp">
            <MudPaper Class="py-3 px-5" Elevation="2">
                <div Class="d-flex align-center mb-3">
                    <MudIcon Icon="@Icons.Material.Filled.Home" Class="me-2" Size="Size.Large"></MudIcon>
                    <MudText Typo="Typo.h4" Class="ms-2" Style="font-weight: 500">Trang chủ</MudText>
                </div>

                <MudTextField Immediate Variant="Variant.Outlined" T="string" DebounceInterval="200" Label="Tìm kiếm" Placeholder="Tìm kiếm theo tên..." MaxLength="200" AdornmentIcon="@Icons.Material.Filled.Search" Adornment="Adornment.End" T="string" OnAdornmentClick="@(() => {})" OnDebounceIntervalElapsed="@(() => {})"></MudTextField>
                <TagSelector ListTag="@_listTagSelected" ListTagFromDB="@_listTagFromDB" />
            </MudPaper>
        </Animate>

        <div class="mt-3"></div>

        <PostList />
        
    </div>
}



@code {
    private TagViewRequest _preqTag = new();
    private PaginationResponse<TagDTO> _presTag = new();
    private List<TagDTO> _listTagFromDB = new();
    private List<TagDTO> _listTagSelected = new();

    private bool _isLoadingAll = true;
    private bool _isLoadingMajor = true;

    protected async override Task OnInitializedAsync()
    {
        await LoadData().ContinueWith((re) =>
        {
            _isLoadingAll = false;
        });
    }

    private async Task LoadData()
    {
        _listTagFromDB = await _repoTag.GetListAsync(_preqTag);
    }
}
