@using FPLSP_Tutorial.WASM.Data.DataTransferObjects.Tag.TagRequest
@using FPLSP_Tutorial.WASM.Data.DataTransferObjects.Tag
@inject AuthenticationStateProvider _authProvider

@inject ITagRepository _repoTag
@inject IDialogService _dialog
@inject ISnackbar _mudSnackbar

@if (_isLoadingAll == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <MudDialog>
        <DialogContent>
            <MudForm @ref="@_refForm">
                @if (_isLoadingList)
                {
                    <MudProgressLinear Color="Color.Primary" Indeterminate="true"></MudProgressLinear>
                }
                else
                {
                    <MudText Typo="Typo.h6" Style="font-weight: 500;">Quản lý nhãn</MudText>

                    <MudTextField @bind-Value="@_createRequestTag.Name" Variant="Variant.Outlined" Class="w-100 mb-2" Placeholder="Nhập tên nhãn mới" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.AddCircle" OnAdornmentClick="@(async () => await OnAdd())" AdornmentColor="Color.Primary" For="() => _createRequestTag.Name" Immediate Label="Thêm nhãn"></MudTextField>


                    <MudTable Items="@_listTag" Elevation="3" Class="mt-2" Height="40vh" FixedHeader="true">
                        <HeaderContent>
                            <MudTh>STT</MudTh>
                            <MudTh>Tên</MudTh>
                            <MudTh>Hành động</MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd>@(_listTag.IndexOf(context) + 1)</MudTd>
                            <MudTd>@context.Name</MudTd>
                            <MudTd>
                                <MudIconButton Color="Color.Error" Class="mx-1" Size="Size.Small" Icon="@Icons.Material.Filled.Delete" OnClick="@(() => OnClickDelete(context.Id))" Title="Xóa" DisableElevation="true">Xóa</MudIconButton>
                            </MudTd>
                        </RowTemplate>
                    </MudTable>

                    <div class="d-flex justify-end my-2">
                        <MudButton OnClick="@(() => MudDialog.Cancel())">Đóng</MudButton>
                    </div>
                }
            </MudForm>

        </DialogContent>
    </MudDialog>
}

@code {
    MudForm _refForm;

    [CascadingParameter]
    MudDialogInstance MudDialog { get; set; } = new();

    [Parameter]
    public Guid? MajorId { get; set; }

    [Parameter]
    public Guid? UserId { get; set; }

    private readonly TagViewWithPaginationRequest _preqRequestTag = new()
    {
        PageSize = 20
    };

    private PaginationResponse<TagDTO> _presTag = new();
    private List<TagDTO> _listTag = new();

    private bool _isLoadingAll = true;
    private bool _isLoadingList = true;

    private readonly TagCreateRequest _createRequestTag = new()
    {
        Status = EntityStatus.Active
    };

    protected override async Task OnInitializedAsync()
    {
        _createRequestTag.CreatedBy = UserId;
        _createRequestTag.MajorId = MajorId;


        _preqRequestTag.MajorId = MajorId;
        await LoadData().ContinueWith(re =>
        {
            _isLoadingAll = false;
            _isLoadingList = false;
        });
    }

    private async Task LoadData()
    {
        _presTag = await _repoTag.GetListWithPaginationAsync(_preqRequestTag);
        if (_presTag.Data != null)
        {
            _listTag = (List<TagDTO>)_presTag.Data;
        }
    }

    private async Task OnAdd()
    {
        await _refForm.Validate();
        if (!_refForm.IsValid) return;
        var result = await _repoTag.AddAsync(_createRequestTag);
        if (result)
        {
            _mudSnackbar.Add("Thêm thành công", Severity.Success);
            _createRequestTag.Name = "";
            await LoadData();
        }
        else
        {
            _mudSnackbar.Add("Thêm thất bại", Severity.Error);
        }
    }

    public async Task OnClickDelete(Guid idDelete)
    {
        var confirm = await _dialog.ShowMessageBox
            (
                "Thông báo",
                "Xác nhận xóa?",
                "Xác nhận",
                cancelText: "Hủy"
            );
        if (confirm == true)
        {
            var removeConfirm = await _repoTag.DeleteAsync(new TagDeleteRequest
            {
                Id = idDelete,
                DeletedBy = UserId
            });
            if (removeConfirm)
            {
                _mudSnackbar.Add("Xóa thành công", Severity.Success);
            }
            else
            {
                _mudSnackbar.Add("Xóa thất bại", Severity.Error);
            }
            await LoadData();
        }
    }

}