@page "/loginwithtoken"
@using System.Security.Claims
@using FPLSP_Tutorial.WASM.Data.DataTransferObjects.User
@using FPLSP_Tutorial.WASM.Data.DataTransferObjects.User.Request
@using System.IdentityModel.Tokens.Jwt

@inject IUserRepository _repoUser
@inject NavigationManager _nav
@inject HttpClient _httpClient
@inject AuthenticationStateProvider _authProvider
@inject ISessionStorageService _session

<div style="width: 100%; height: 80vh;">
    <div class="d-flex justify-center w-100 h-100">
        <div style="margin-top: 40vh;">
            @if (!IsErrorWhileLoading)
            {
                <Animate Animation="Animations.SlideUp" Duration="TimeSpan.FromSeconds(1)">
                    <div class="d-flex justify-center mb-2">
                        <MudProgressCircular Value="@Stage" Color="Color.Primary"></MudProgressCircular>
                    </div>
                    <div class="h-25">

                        <MudText Typo="Typo.h6" Style="text-align:center;">@((MarkupString)StageMessage)</MudText>

                    </div>
                </Animate>
            }
            else
            {
                <div class="text-center h-25">
                    <div class="mb-2">
                        <MudIcon Icon="@Icons.Material.Filled.Error" Color="Color.Error" Size="Size.Large"></MudIcon>
                    </div>
                    <MudText Typo="Typo.h6" Color="Color.Error">@("Có lỗi xảy ra khi xử lý Identity Token")</MudText>
                </div>
            }
        </div>
    </div>
</div>


@*@foreach(var i in listClaims)
{
    <h6>@i.Type - @i.Value</h6>
}*@

@code {

    [Parameter]
    [SupplyParameterFromQuery(Name = "token")]
    public string JWTToken { get; set; } = "";

    private int Stage;
    private string StageMessage = "Khởi động chương trình";
    private bool IsErrorWhileLoading;

    List<Claim> listClaims = new();


    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        await SetStage(10, "Đang xử lý thông tin Identity");
        var handler = new JwtSecurityTokenHandler();
        var jwtSecurityToken = handler.ReadJwtToken(JWTToken);
        listClaims = jwtSecurityToken.Claims.ToList();

        await SetStage(30, "Lấy thông tin người dùng");
        var profile = await _repoUser.GetByEmailAsync(listClaims.FirstOrDefault(c => c.Type == "email").Value);

        if (profile == null)
        {
            await SetStage(50, "Hồ sơ người dùng không tồn tại.<br>Tiến hành khởi tạo");

            var createResult = await _repoUser.AddAsync(new UserCreateRequest
            {
                Email = listClaims.FirstOrDefault(c => c.Type == "email") == null ? "N/A" : listClaims.FirstOrDefault(c => c.Type == "email").Value,
                Username = listClaims.FirstOrDefault(c => c.Type == "name") == null ? "N/A" : listClaims.FirstOrDefault(c => c.Type == "name").Value,
                RoleCodes = listClaims.FirstOrDefault(c => c.Type == "role") == null ? new List<string>() : listClaims.Where(c => c.Type == "role").Select(c => c.Value).ToList()
            });
            if (createResult)
            {
                var profileCreated = await _repoUser.GetByEmailAsync(listClaims.FirstOrDefault(c => c.Type == "email").Value);
                await HandlingAuthentication(profileCreated);
                await SetStage(100, "Khởi tạo thành công.<br>Chuyển hướng tới trang chủ");
                Redirect(profileCreated.RoleCodes);
            }
            else
            {
                IsErrorWhileLoading = true;
            }
        }
        else
        {
            if (!CheckIfInformationsAreChanged(profile, listClaims))
            {
                await HandlingAuthentication(profile);
                await SetStage(100, "Chuyển hướng tới trang chủ");

                Redirect(profile.RoleCodes);
            }
            else
            {
                await SetStage(50, "Thông tin có sự thay đổi.<br>Tiến hành cập nhật");

                var profileUpdateResult = await _repoUser.UpdateAsync(new UserUpdateRequest
                {
                    Id = profile.Id,
                    Email = profile.Email,
                    Username = listClaims.FirstOrDefault(c => c.Type == "name") == null ? "N/A" : listClaims.FirstOrDefault(c => c.Type == "name").Value,
                    RoleCodes = listClaims.FirstOrDefault(c => c.Type == "role") == null ? new List<string>() : listClaims.Where(c => c.Type == "role").Select(c => c.Value).ToList(),
                    Status = profile.Status
                });

                if (profileUpdateResult)
                {
                    await SetStage(75, "Cập nhật thành công.<br>Làm mới thông tin.");

                    profile = await _repoUser.GetByEmailAsync(listClaims.FirstOrDefault(c => c.Type == "email").Value);

                    await HandlingAuthentication(profile);
                    await SetStage(100, "Chuyển hướng tới trang chủ");

                    Redirect(profile.RoleCodes);
                }
                else
                {
                    await HandlingAuthentication(profile);
                    await SetStage(100, "Cập nhật thất bại, sử dụng thông tin cũ.<br>Chuyển hướng tới trang chủ");

                    Redirect(profile.RoleCodes);
                }
            }
        }
    }

    private async Task HandlingAuthentication(UserDTO user)
    {
        List<Claim> lstClaim = new()
        {
            new Claim(ClaimTypes.Email, user.Email),
            new Claim(ClaimTypes.Name, user.Username),
            new Claim("UserId", user.Id.ToString())
        };

        foreach (var i in user.RoleCodes.ToList())
        {
    //if (lstClaim.Any(c => c.Type == ClaimTypes.Role && c.Value == i)) continue;
            lstClaim.Add(new Claim(ClaimTypes.Role, i));
        }

        var customAuth = (CustomAuthenticationStateProvider)_authProvider;
        await customAuth.UpdateAuthenticationState(lstClaim);
    }

    private bool CheckIfInformationsAreChanged(UserDTO user, List<Claim> lstClaim)
    {
        var claimUsername = listClaims.FirstOrDefault(c => c.Type == "name") == null ? "N/A" : listClaims.FirstOrDefault(c => c.Type == "name").Value;
        var claimRoleCodes = listClaims.FirstOrDefault(c => c.Type == "role") == null ? new List<string>() : listClaims.Where(c => c.Type == "role").Select(c => c.Value).ToList();

        if (claimUsername != user.Username || !claimRoleCodes.Order().SequenceEqual(user.RoleCodes.Order()))
        {
            return true;
        }

        return false;
    }

    private void Redirect(List<string> lstRole)
    {
        _nav.NavigateTo("/post/home");
    }

    private async Task SetStage(int val, string message)
    {
        Stage = val;
        StageMessage = message;
        StateHasChanged();
        await Task.Delay(500);
    }

}