@page "/recreation/lecturer-manager"
@using FPLSP_Tutorial.WASM.Data.DataTransferObjects.Major.Request;
@using FPLSP_Tutorial.WASM.Data.DataTransferObjects.Major;
@using FPLSP_Tutorial.WASM.Data.DataTransferObjects.MajorRequest;
@using FPLSP_Tutorial.WASM.Data.DataTransferObjects.MajorRequest.Request;
@using FPLSP_Tutorial.WASM.Data.DataTransferObjects.UserMajor;
@using FPLSP_Tutorial.WASM.Data.DataTransferObjects.UserMajor.Request;
@using FPLSP_Tutorial.WASM.Data.Pagination;
@layout ManagementLayout


@inject IDialogService _diagService;
@inject ISnackbar _mudSnackbar;
@if (_isLoadingAll)
{
    <LoadingIndicator />
}
else
{
    <div class="mx-3 mb-2 px-3 pb-3">
        <MudBreadcrumbs Items="_breadCrumbs"></MudBreadcrumbs>

        <MudPaper Class="" Elevation="2">
            <MudTabs @ref="tabs">
                <MudTabPanel Text="Đang hoạt động">
                    @if (_isLoadingTab1)
                    {
                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="m-3" />
                    }
                    else
                    {
                        <MudTable Items="@_MajorUserVM.Data" Style="position:relative;" Elevation="2" Class="m-3">
                            <HeaderContent>
                                <MudTh>Email</MudTh>
                                <MudTh>Chức vụ</MudTh>
                                <MudTh>Chuyên ngành</MudTh>
                                <MudTh>Trạng thái</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd>@context.email</MudTd>
                                @foreach (string role in @context.RoleCodes)
                                {
                                    <MudTd>@role</MudTd>
                                }
                                <MudTd>@context.TenChuyenNganh</MudTd>
                                <MudTd><BadgeEntityStatus Status="@context.Status" /></MudTd>
                                <MudTd>
                                    <div class="d-flex" style="margin-top:10px">
                                    </div>
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                        <CustomPagination Class="my-1" HasNext="@_MajorUserVM.HasNext" OnPageChange="@(async e => await OnPaginationButtonClickTab1(e))" CurrentPageNumber="@_MajorUserRequest.PageNumber"></CustomPagination>
                        <MudDivider />
                    }
                    }
                </MudTabPanel>
                @*  View danh sách giảng viên chờ duyệt  *@
                <MudTabPanel Text="Chờ duyệt">
                    @if (_isLoadingTab2)
                    {
                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="m-3" />
                    }
                    else
                    {
                        <MudTable Items="@_MajorRequestVM.Data" Style="position:relative;" Elevation="2" Class="m-3">
                            <HeaderContent>
                                <MudTh>Email</MudTh>
                                <MudTh>Chuyên ngành</MudTh>
                                <MudTh>Trạng thái</MudTh>
                                <MudTh>Phê duyệt</MudTh>
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd>@context.email</MudTd>
                                <MudTd>@context.majorName</MudTd>
                                <MudTd><BadgeEntityStatus Status="@context.Status" /></MudTd>
                                <MudTd>
                                    <div class="d-flex" style="margin-top:10px">
                                        <MudChip Variant="Variant.Filled" Color="Color.Primary" OnClick="() => OnAdd(context.Id,context.MajorId,context.CreatedBy,context.Status)">Chấp nhận</MudChip>
                                        <MudChip Variant="Variant.Filled" Color="Color.Primary" Style="left:10px" OnClick="() => OnDelete(context.Id)">Từ chối</MudChip>
                                    </div>
                                </MudTd>
                            </RowTemplate>
                        </MudTable>
                        <CustomPagination Class="my-1" HasNext="@_MajorRequestVM.HasNext" OnPageChange="@(async e => await OnPaginationButtonClickTab2(e))" CurrentPageNumber="@_MajorRequestRequest.PageNumber"></CustomPagination>
                        <MudDivider />
                    }
                </MudTabPanel>
            </MudTabs>
        </MudPaper>
    </div>
}


@code {
    private List<BreadcrumbItem> _breadCrumbs = new List<BreadcrumbItem>
    {
        new BreadcrumbItem("Trang chủ", href: "/recreation/post/client"),
        new BreadcrumbItem("Quản lý giảng viên", href: null, disabled: true)
    };

    MudTabs tabs = new();
    [Inject] private IMajorUserRepo majorUserRepo { get; set; }
    [Inject] private IMajorRequestRepo majorRequestRepo { get; set; }
    List<MajorRequestDto> lstMajorRequest { get; set; }
    List<MajorUserDto> lstMajorUser;

    #region 
    private bool _isLoadingAll = true;
    private bool _isLoadingTab1 = true;
    private bool _isLoadingTab2 = true;

    #endregion

    #region Khai bao MajjorUser
    private string _idMajor ;
    private Guid _idMajorUserDetail = Guid.Empty;
    private PaginationResponse<MajorUserDto> _MajorUserVM;
    private ViewMajorUserBySearchRequest _MajorUserRequest = new();
    #endregion

    #region Khai bao MajjorRequest
    private Guid _idMajorRequestDetail = Guid.Empty;
    private PaginationResponse<MajorRequestDto> _MajorRequestVM;
    private ViewMajorRequestSearchWithPaginationRequest _MajorRequestRequest = new();
    #endregion

    #region Lấy ra Major Name 

    [Inject] private IMajorRepo majorRepo { get; set; }
    List<MajorDTO> lstMajor;
    private PaginationResponse<MajorDTO> _MajorVM;
    private ViewMajorWithPaginationRequest _MajorRequest = new();

    private async Task LoadDataMajor()
    {
        _MajorVM = await majorRepo.GetListMajor(_MajorRequest);
        lstMajor = _MajorVM.Data.ToList();
    }
    #endregion
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await Task.Run(async () =>
            {
                await LoadDataMajorUser();
                await LoadDataMajor();
            }).ContinueWith((result) =>
            {
                _isLoadingTab1 = false;   
            });
            await LoadDataMajorRequest().ContinueWith((result) =>
            {
                _isLoadingTab2 = false;
            });
            _isLoadingAll = false;
        }
        catch (Exception ex)
        {
            throw ex;
        }
    }
    private async Task LoadDataMajorRequest()
    {
        _MajorRequestVM = await majorRequestRepo.GetListMajorRequest(_MajorRequestRequest);
        lstMajorRequest = _MajorRequestVM.Data.ToList();
    }
    private async Task LoadDataMajorUser()
    {
        _MajorUserVM = await majorUserRepo.GetListMajorUser(_MajorUserRequest);
        lstMajorUser = _MajorUserVM.Data.ToList();
    }

    private async Task OnDelete(Guid id)
    {
        var request = new MajorRequestDeleteRequest
            {
                Id = id,
            };
        var confirm = await _diagService.ShowMessageBox
              (
                  "Thông báo",
                  "Bạn chắn chắn xóa giảng viên này?",
                  "Xác nhận",
                  cancelText: "Hủy"
              );
        if (confirm == true)
        {
            var removeConfirm = await majorRequestRepo.DeleteMajorRequest(request);
            await LoadDataMajorRequest();
        }
    }
    private async Task OnAdd(Guid id, Guid MajorID, Guid? UserId, EntityStatus status)
    {
        var requestDelete = new MajorRequestDeleteRequest
            {
                Id = id,
            };
        var requestCreateUser = new CreateUserMajorRequest
            {
                MajorId = MajorID,
                UserId = UserId,
                Status = status
            };

        var confirm = await _diagService.ShowMessageBox
              (
                  "Thông báo",
                  "Bạn chắn chắn muốn thêm giảng viên này?",
                  "Xác nhận",
                  cancelText: "Hủy"
              );
        if (confirm == true)
        {
            var createConfirm = await majorUserRepo.CreateMajorUser(requestCreateUser);
            if (!createConfirm)
            {
                var messageErro = await _diagService.ShowMessageBox
             (
                 "Thông báo",
                 "Thêm thất bại !"
             );
            }
            else
            {
                var message = await _diagService.ShowMessageBox
           (
               "Thông báo",
               "Thêm thành công !"
           );
                var removeConfirm = await majorRequestRepo.DeleteMajorRequest(requestDelete);
                await LoadDataMajorRequest();
                await LoadDataMajorUser();

            }

        }
    }

    private async Task OnPaginationButtonClickTab1(int pageNumber)
    {
        _isLoadingTab1 = true;
        _MajorUserRequest.PageNumber = pageNumber;
        await LoadDataMajorUser();
        await LoadDataMajorRequest();
    }

    private async Task OnPaginationButtonClickTab2(int pageNumber)
    {
        _isLoadingTab2 = true;
        _MajorUserRequest.PageNumber = pageNumber;
        await LoadDataMajorUser();
        await LoadDataMajorRequest();
    }

    private async Task OnSearchTab1(string searchString)
    {
        _isLoadingTab1 = true;
        _MajorUserRequest.PageNumber = 1;
        _MajorUserRequest.Email = searchString;
        await LoadDataMajorUser();
    }
    private async Task OnSearchTab2(string searchString)
    {
        _isLoadingTab2 = true;
        _MajorRequestRequest.PageNumber = 1;
        _MajorRequestRequest.Email = searchString;
        await LoadDataMajorRequest();
    }
    private async Task OnSelect(string idMajor )
    {
        _idMajor = idMajor;
        _isLoadingTab1 = true;
        _MajorUserRequest.PageNumber = 1;
        _MajorUserRequest.MajorId = new Guid(idMajor);
        await LoadDataMajorUser();
    }
}
