@page "/majorServices"
@using MajorServices.Data.MajorRequest;
@using MajorServices.Repo.Interfaces.MajorRequest;

<MudTabs>
    @*   <MudTabPanel Text="Danh Sách giảng viên">
    <MudPaper Class="p-2" Elevation="0">
    <div class="d-flex justify-items-center">
    <div class="mr-auto">
    </div>
    <MudButton Variant="Variant.Filled" Color="Color.Primary">Thêm</MudButton>
    </div>
    </MudPaper>
    <MudTextField @bind-Value="Search" Label="Tìm kiếm giảng viên" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Secondary" />

    <MudTable Items="@MajorRequest">
    <HeaderContent>
    <MudTh>Mã Giảng Viên</MudTh>
    <MudTh>Tên Giảng Viên</MudTh>
    <MudTh>SĐT</MudTh>
    <MudTh>Địa Chỉ</MudTh>
    <MudTh>Trạng thái</MudTh>
    </HeaderContent>
    <RowTemplate>
    <MudTd>@context.MaGiangVien</MudTd>
    <MudTd>@context.TenGiangVien</MudTd>
    <MudTd>@context.SDT</MudTd>
    <MudTd>@context.DiaChi</MudTd>
    <MudTd>@context.TrangThai</MudTd>
    <MudTd>Phê duyệt</MudTd>
    </RowTemplate>
    </MudTable>
    </MudTabPanel> *@
    <MudTabPanel Text="Danh Sách giảng viên chờ duyệt">
        <MudTextField @bind-Value="Search" Label="Tìm kiếm giảng viên" Variant="Variant.Outlined" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Secondary" />
        <MudTable Items="@MajorRequest">
            <HeaderContent>
                <MudTh>Email</MudTh>
                <MudTh>Chuyên ngành</MudTh>
                <MudTh>Trạng thái</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Email</MudTd>
                <MudTd>@context.tenChuyenNganh</MudTd>
                <MudTd>@context.Status</MudTd>
                <MudTd>
                    <div class="d-flex" style="margin-top:10px">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary">Chấp nhận</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="left:10px" OnClick="() => OnDelete(context.id)">Từ chối</MudButton>
                    </div>
                </MudTd>
            </RowTemplate>
        </MudTable>
    </MudTabPanel>
</MudTabs>


@code {

    [Inject] IMajorRequestRepo majorRequestRepo { get; set};
    private List<MajorRequestDto> lstMajorRequest;
    public MajorServices()
    {

    }
    protected override async Task OnInitializedAsync()
    {
        var pagintion = await majorRequestRepo.GetListMajorRequest();
        lstMajorRequest = pagintion.Data.ToList();
    }
    public async Task OnDelete(Guid id)
    {
        var request = new MajorRequestDeleteRequest
            {
                Id = id,
            };

        var confirm1 = await _diagService.ShowMessageBox
            (
                "Thông báo",
                "Bạn chắn chắn xóa giảng viên này?",
                "Xác nhận",
                cancelText: "Hủy"
            );
        if (confirm1 == true)
        {
            var removeConfirm = await MajorRequestRepo.DeleteMajorRequest(request);
            _mudSnackbar.Add("Xóa thành công!");
            //  await LoadData();
        }
        else
        {
            _mudSnackbar.Add("Yêu cầu đã được hủy ");
        }
    }
    public string Search { get; set; }

}
   
}

